.env
.venv/
venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
.vscode/
*.iml

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/pubspec.lock
*.iml
.DS_Store
